:root {
  --themeColor: rgb(12, 139, 186);
  --themeColor90: rgba(12, 139, 186, .9);
  --themeColor80: rgba(12, 139, 186, .8);
  --themeColor70: rgba(12, 139, 186, .7);
  --themeColor60: rgba(12, 139, 186, .6);
  --themeColor50: rgba(12, 139, 186, .5);
  --themeColor40: rgba(12, 139, 186, .4);
  --themeColor30: rgba(12, 139, 186, .3);
  --themeColor20: rgba(12, 139, 186, .2);
  --themeColor10: rgba(12, 139, 186, .1);

  --highlightColor: rgba(12, 139, 186, .4);
  --selectionColor: rgba(0, 0, 0, .1);
  --editorColor: rgba(101, 101, 101, .7);
  --editorColor80: rgba(101, 101, 101, .8);
  --editorColor60: rgba(101, 101, 101, .6);
  --editorColor50: rgba(101, 101, 101, .5);
  --editorColor40: rgba(101, 101, 101, .4);
  --editorColor30: rgba(101, 101, 101, .3);
  --editorColor10: rgba(101, 101, 101, .1);
  --editorColor04: rgba(101, 101, 101, .04);
  --editorBgColor: #f3f3f3;
  --deleteColor: #ff6969;
  --iconColor: rgba(101, 101, 101, .8);
  --codeBgColor: #d8d8d869;
  --codeBlockBgColor: rgba(12, 139, 186, .05);
  --footnoteBgColor: rgba(0, 0, 0, .03);
  --inputBgColor: rgba(0, 0, 0, .06);
  --focusColor: var(--themeColor);

  --buttonFontColor: var(--editorColor);
  --buttonBgColor: #ffffff;
  --buttonBorder: 1px solid #dcdfe6;
  --buttonShadow: none;
  --buttonFontColorHover: var(--buttonFontColor);
  --buttonBgColorHover: linear-gradient(#fafafa, #f5f5f5);
  --buttonBorderHover: var(--buttonBorder);
  --buttonFontColorActive: var(--buttonFontColor);
  --buttonBgColorActive: #f5f5f5;
  --buttonBorderActive: var(--buttonBorder);
  --buttonFocusBorder: 1px solid var(--themeColor);

  --buttonPrimaryFontColor: #ffffff;
  --buttonPrimaryBgColor: var(--themeColor);
  --buttonPrimaryBorder: none;
  --buttonPrimaryShadow: 0 0 8px 0 rgba(0, 0, 0, .1);
  --buttonPrimaryFontColorHover: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorHover: var(--buttonPrimaryBgColor);
  --buttonPrimaryBorderHover: var(--buttonPrimaryBorder);
  --buttonPrimaryFontColorActive: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorActive: var(--buttonPrimaryBgColor);
  --buttonPrimaryBorderActive: var(--buttonPrimaryBorder);
  --buttonPrimaryFocusBorder: none;
  --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(5, 66, 89, 0.5), 0 0 0 1px var(--themeColor);
  --tableBorderColor: #e5e5e5;

  --sideBarColor: rgba(101, 101, 101, .6);
  --sideBarIconColor: var(--iconColor);
  --sideBarTitleColor: rgba(101, 101, 101, 1);
  --sideBarTextColor: rgba(101, 101, 101, .4);
  --sideBarBgColor: rgba(248, 248, 248, 0.9);
  --sideBarItemHoverBgColor: rgba(101, 101, 101, .03);
  --itemBgColor: rgba(245, 245, 245, 0.6);

  --floatFontColor: rgba(101, 101, 101, .7);
  --floatBgColor: #ffffff;
  --floatHoverColor: rgba(101, 101, 101, .04);
  --floatBorderColor: rgba(0, 0, 0, .03);
  --maskColor: rgba(232, 232, 232, .8);
  --editorAreaWidth: 750px;

  /* structural variables */
  --scrollbarThumbColor: rgba(0, 0, 0, .15);
  --scrollbarThumbHoverColor: rgba(0, 0, 0, .25);
  --titlebarSvgFill: #333333;
  --titlebarButtonHoverBg: rgba(0, 0, 0, .05);
  --sideBarBorderColor: transparent;
  --editorTabsBgColor: none;
  --editorTabsBorderColor: transparent;
}
